[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = git://github.com/tpope/vim-surround.git
[submodule "bundle/vim-repeat"]
	path = bundle/vim-repeat
	url = git://github.com/tpope/vim-repeat.git
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "bundle/xptemplate"]
	path = bundle/xptemplate
	url = git://github.com/drmingdrmer/xptemplate-dist.git
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = git://github.com/scrooloose/nerdcommenter.git
[submodule "bundle/phpcomplete"]
	path = bundle/phpcomplete
	url = git://github.com/vim-scripts/phpcomplete.vim.git
[submodule "bundle/debugger"]
	path = bundle/debugger
	url = git://github.com/vim-scripts/debugger.py.git
[submodule "bundle/matchit"]
	path = bundle/matchit
	url = git://github.com/vim-scripts/matchit.zip.git
[submodule "bundle/precisejump"]
	path = bundle/precisejump
	url = git://github.com/vim-scripts/PreciseJump.git
[submodule "bundle/gundo"]
	path = bundle/gundo
	url = git://github.com/vim-scripts/Gundo.git
[submodule "bundle/argumentrewrap"]
	path = bundle/argumentrewrap
	url = git://github.com/jakobwesthoff/argumentrewrap.git
[submodule "bundle/vim-sparkup"]
	path = bundle/vim-sparkup
	url = git://github.com/bingaman/vim-sparkup.git
[submodule "bundle/vim-taglist"]
	path = bundle/vim-taglist
	url = git://github.com/vim-scripts/taglist.vim.git
[submodule "bundle/easytags"]
	path = bundle/easytags
	url = http://github.com/xolox/vim-easytags
[submodule "bundle/indexer.tar.gz"]
	path = bundle/indexer.tar.gz
	url = git://github.com/vim-scripts/indexer.tar.gz.git
[submodule "bundle/Align"]
	path = bundle/Align
	url = git://github.com/vim-scripts/Align.git
[submodule "bundle/latex-suite"]
	path = bundle/latex-suite
	url = git://vim-latex.git.sourceforge.net/gitroot/vim-latex/vim-latex
[submodule "bundle/latex-suite2"]
	path = bundle/latex-suite2
	url = git://github.com/vim-scripts/LaTeX-Suite-aka-Vim-LaTeX.git
